<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>DaveyCrocketTribute</title>
  <meta name="author" content="Caleb Smith">
  <meta name="description"
    content="Cool tribute website with key facts, a brief history, and fun quotes from and about the late and great Davy Crockett!">
  <link rel="stylesheet" type="text/css" href="index-style.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter|Girassol&display=swap" rel="stylesheet">
  <script>"https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"</script>
</head>

<body>
  <main id="main">
    <header id="header">
      <h1 id="title">Davey Crockett</h1>
      <p id="subhead">The Great Revolutionary Texas Fighter</p>
      <div id="img-div">
        <img id="image" src="../images/DaveyCrockett.jpeg" alt="Awsome Image Of Davey Crockett">
        <p id="img-caption">Davey Crockett Fights at The Alamo.</p>
      </div>
    </header>
    <article id="tribute-info">
      <p id="Davey-P1">
        Here lies the first words about Davey Crockett; the Texan with an attitude. There will be many tales to
        tell here, some may call them tall tales but I assure you these are true facts written in Texas history
        books. The private and home school history books tell it like it is. He started out in Tennessee, but he
        made darn sure to finish strong in Texas. In the end he fought with all he had leaving his guts out at the
        Alamo on
        that fateful night in San Antonio. This is a Tribute to Davey Crockett, The Republic of Texas, and the
        Alamo!
      </p>
      <hr>
      <section id="stages">
        <h3>Davey's 3 Stages of Life That Led to His Legendary Status:</h3>
        <h4 class="timeline">Before Texas</h4>
        <p class="time-data">
          Crockett started his young life out in eastern parts of Tennessee where he grew into a legendary hunter. He
          made 2 stints in the US Congress first being elected in 1827 then losing for the final time in 1835. He grew
          bitter from that final defeat which led him to storm off to Texas to find some nice free land.
        </p>
        <h4 class="timeline">Journey To Texas</h4>
        <p class="time-data">
          He likely traveled through the forbidden land of Arkansas to get to Texas (currently occupied by the Mexicans as the Mexican State of Tejas). Being the wild man that he was, he decided to take up arms against the Mexican army and helped lead the fight in the Texas Revolution.
        </p>
        <h4 class="timeline">The Alamo and The End</h4>
        <p class="time-data">
          Refusing to give up in the war against the Mexican army, he would stay and fight a suicide mission at the Alamo Mission in San Antonio, where he and his men were slaughtered by the tyrant Santa Anna. His bravery and the men he fought with will never be forgotten, as it was there spirit and fight that led to a free country, The Republic of Texas!
        </p>
      </section>
    </article>
  </main>
</body>
<hr>
<footer>
  <p>
    A weath of additional information about Devey Crockett's life can be found at this <a id="tribute-link"
      target="_blank" href="https://en.m.wikipedia.org/wiki/Davy_Crockett">Wiki Page</a> dedicated to him.
  </p>
</footer>

</html>